.taskbar{
    margin: auto;
    height: 80px;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.499);
    background-color: rgba(255, 255, 255, 0.086);
    width: 90vw;
    display: flex;
    justify-content: space-around;
    img{
        height: 80px;
        padding: .8rem;
    }
    // transform: translateY(255px);
}